.privacy-policy-wrapper {
    height: 240px;
    overflow: scroll;
    margin: 0px 0px 20px 0px;
    padding: .375rem .75rem;
    border: 1px solid #ececec;
    border-radius: 3px;
    background-color: #f3f3f3;
}


.sidebar.sidebar-pills .nav-link,
.sidebar.sidebar-pills .nav-title{
    margin-right: -10px!important;
}
.dropzone {
    min-height: auto !important;
    border: none !important;

}
.dropzone-target {
    background: #f3f3f3;
    border: 1px dashed #999 !important;



    color: #999;
    font-size: 1.2em;
    padding: 2em 2em 0;
}

.dropzone-previews {
    background: #f0f3f9!important;
    padding: 2em;

}



.dropzone.dz-drag-hover {
    background: #ececec;
    border-bottom: 2px dashed #999;
    border-left: 2px dashed #999;
    border-right: 2px dashed #999;
    color: #333;
}

.dz-message {
    text-align: center;
}

.dropzone .dz-preview .dz-image-no-hover {
    border-radius: 20px;
    cursor: move;
    display: block;
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 120px;
    z-index: 10;
}

.nav h2{
    font-size: 1rem !important;
    margin-top: 10px
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
        /* STYLES GO HERE */
        .navbar-brand {
            justify-content: center !important;
            width: auto !important;
            padding: 0px !important;
        }
}


.sidebar .nav-dropdown-toggle:before{
    transform: rotate(-180deg);

}


.stripe-new-card{
        border: 1px solid rgba(0, 40, 100, .12);
        padding: 12px;
        border-radius: 6px;
}

.card-cover {
    height: 180px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
}

.cc_dialog.simple{
    max-width: 100%!important;
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.25)!important;
}

.cc_dialog{
    padding: 1.3rem!important;
}

.cc_dialog_text{
    text-align: justify!important;
}



#new-card-form-wrapper{
    border: 1px solid rgba(0, 40, 100, .12);
    padding: 10px 12px;
    border-radius: 3px;
}
.dataTables_scrollBody{

    scrollbar-width: thin;
    scrollbar-color: #FD5112;

}


.dataTables_scrollBody::-webkit-scrollbar {
    -webkit-appearance: none!important;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #FD5112;
    box-shadow: 0 0 1px rgba(0,0,0,0.15);
}


.btn-atlantinex{
    color: #fff;
    background-color: #FD5112;
}

.btn-atlantinex:hover{
    color: #fff;
    background-color: #ce3903;
}

@media (max-width: 991.98px){
    .app-header .navbar-toggler {
        color: #333;
    }
}
